li {
  display: flex;
  border-top: 1px solid white;
  padding: 30px 0;
}

li:first-child {
  border-top: 0;
}

.toggle_task {
  align-items: center;
  display: flex;
  flex: 0 1 25%;
  justify-content: center;
}

.task_info {
  flex: 1 1 auto;
}

.task_name {
  font-size: 15px;
}

.project_name {
  font-size: 20px;
}

.customer_name {
  font-size: 22px;
}

.play_button {
  height: 50px;
  width: 50px;
  display: block;
  overflow: hidden;
  position: relative;
}

.left {
  height: 100%;
  float: left;
  background-color: #fff;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
.triangle_1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.triangle_2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.triangle_1,
.triangle_2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 50px solid #0F5A8A;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.paused_left {
  composes: left;
  width: 50%;
}
.paused_right {
  composes: right;
  width: 50%;
}
.paused_triangle_1 {
  composes: triangle_1;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.paused_triangle_2 {
  composes: triangle_2;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
