li {
  display: flex;
  border-top: 1px solid white;
}

.toggle_task {
  align-items: center;
  display: flex;
  flex: 0 1 25%;
  justify-content: center;
}

.task_info {
  flex: 0 1 auto;
}

.task_name {
  font-size: 15px;
}

.project_name {
  font-size: 20px;
}

.customer_name {
  font-size: 22px;
}

.play_button {
  height: 300px;
  width: 300px;
  display: block;
  margin: 60px auto;
  overflow: hidden;
  position: relative;
}
.left {
  height: 100%;
  float: left;
  background-color: #fff;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
.triangle_1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.triangle_2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.triangle_1,
.triangle_2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 300px solid #c0392b;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.paused .left {
  width: 50%;
}
.paused .right {
  width: 50%;
}
.paused .triangle_1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.paused .triangle_2 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
